.wrapper {
  font-family: sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.nav {
  width: 40px;
  height: 40px;
  background: url("./assets/svg/nav.svg") no-repeat center center;
  cursor: pointer;
}

.menu {
  width: 12px;
  height: 24px;
  background: url("./assets/svg/menu-icon.svg") no-repeat center center;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.top-first {
  background: url("./assets/svg/top-first-icon-share.svg") no-repeat center center;
}

.top-second {
  background: url("./assets/svg/top-second-icon-upload.svg") no-repeat center center;
}

.top-third {
  background: url("./assets/svg/top-third-icon-copy.svg") no-repeat center center;
}

.top-fourth {
  background: url("./assets/svg/top-fourth-list-item.svg") no-repeat center center;
}

.button-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.buttons {
  max-width: 400px;
}

.button-list {
  margin: 50px;
  padding: 30px;
  border: 1px solid black;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.canvas-wrapper {
  width: 512px;
  height: 512px;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.point {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.bottom-first {
  background: #C4C4C4;
}

.bottom-second {
  background: #41F795;
}

.bottom-third {
  background: #F74141;
}

.bottom-fourth {
  background: #41B6F7;
}

.button-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.switcher {
  max-width: 400px;
  margin: 50px;
  border: 1px solid black;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.switch {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin-right: 20px;
}

.img-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 40px;
  cursor: pointer;
}

.img-switch:hover {
  background: #b1aeae;
}
/*# sourceMappingURL=style.css.map */